<h1>Horario de Empleados</h1>
<table mat-table [dataSource]="listTurnos" class="table table-hover">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.Apellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="turno">
      <th mat-header-cell *matHeaderCellDef> Turno</th>
      <td mat-cell *matCellDef="let element"> {{element.Turno}} </td>
    </ng-container>

    <ng-container matColumnDef="horaEntrada">
        <th mat-header-cell *matHeaderCellDef> Hora Entrada</th>
        <td mat-cell *matCellDef="let element"> {{element.HoraEntrada}} </td>
    </ng-container>

    <ng-container matColumnDef="horaSalida">
    <th mat-header-cell *matHeaderCellDef> Hora Salida</th>
    <td mat-cell *matCellDef="let element"> {{element.HoraSalida}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
